:root {
    --text-light: #e9e9e9;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    padding: 1em;
    gap: 1em;
}
.categories__item {
    position: relative;
    color: inherit;
    /* max-height: 80vh; */
}
.categories__item:hover {
    box-shadow: 0 0 8px 2px var(--text-light);
}
.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
}
.categories__item-description {
    padding: 1em;
    color: var(--text-light);
}
/* TODO */


/* Global */
.img-responsive {
    width: 100%;
    display: block;
}
figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}
.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    padding: 1em;
    max-width: 1200px;
 
    margin: 0 auto;
}
.categories__item {
    position: relative;
    color: inherit;
}
.categories__item-description {
    padding: 1em;
    color: var(--text-light);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    width: max-content;
}
.categories__item-image {
border-radius: 1em;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    background-image: url(../images/egypt.jpg);
    background-size: cover;
}

.categories__item:hover{
    transition: all 0.5s ease;
    z-index: 10;
    transform: scale(1.1);
    box-shadow: 0 0 8px 2px var(--text-light);
}
.categories:has(figure:hover) figure:not(:hover) {
    filter: brightness(0.5) saturate(0) contrast(1.5);
    filter: saturate(0) blur(0.3em);
    transition: all 0,7s ease;
}
.categories__item:hover .categories__item-description{
bottom: 50%;
left: 50%;
transform: translate(-50%, 50%);    
}

